*{
    margin: 0px;
    padding: 0px;
}

nav{
    background: #132554;
    width: 100%;
    height: 100px;
    

}
a{
    color: white;
    margin-right: 10px;
    float: right;
}
img{
    float: left;
}
a.button{
    color: white;
    padding: 0 5 10 15;

}
a.button:visited{
    color: black;
}

