/*Basic stuff*/

*{
    margin: 0px;
    padding: 0px;
    background-color: linear-gradient(top, #E9ECF8);
}

hr{
    background-color: white;
    
}
header{
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;

    
}
/*My main div used to mix my header and image*/
.container{
    position: relative;
    text-align: center;
    color: white;
    position: relative;
    top: -50;
    background-attachment: fixed;
}

/*My header in the header image*/
.top-right{
    position: absolute;
    top: 50px;
    right: 16px;
    font-size: 300%;
    color: #132554;
    
}
/* Start of Nav Bar*/

nav{
    background: #00242C;
    width: 100%;
    height: 60px;
    margin-top: 0px;
    top: 0;
    position: fixed;
    z-index: 1;
}
nav img{
    float: left;
    opacity: 1.0;
}

a{
    margin-right: 10px;
    float: right;
    padding-top: 0px;

}
a:hover{
    color: lightgreen;
}
.home{
    color: white;
    float: left;
    position: relative;
    padding-top: 20px;
}
.about{
    color: white;
    float: left;
    padding: 2px;
    padding-left: 700px;
    padding-top: 20px;
    
}
.contact{
    color: white;
    float: right;
    padding: 2px;
    padding-right: 0px;
    padding-top: 20px;
}
/*End of nav bar*/

/* Basically my paragraph in my home page.*/
.writing{
    background-color: #E9ECF8;
    width: 400px;
    height: 800px;
    margin: 0px;
    padding: 0px;
    padding-right: 200px;
    padding-left: 20px;
    padding-top: 2px;
    float: left;
    font-size: x-large;
}
body{
    background-color: #E9ECF8;
}
/* More indepth modification of my writing*/
p{
    color: black;
    padding-left: 25px;
    padding-bottom: 200px;
    padding-top: 100px;
}
/* Basically all of my pictures on my home page*/
.heropic{
    background-color: #E9ECF8;
    float: right;
    padding-left: 100px;
    float: left;
    padding-right: 100px;
 
}
.home-middle{
    background-color: #E9ECF8;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oleo Script', cursive;
}
h2{
    color: black;
    font-size: 230%;
}


/* The start of my footer*/
.firstname{
    color: black;
}
.home-video{
    background-color: #9A9FB5;
    width: 100%;
    height: 500px;
    float: right;
    padding-bottom: 50px;
}
footer{
    color: white;
}
.name{
    background-color: #313A5D;
    width: 100%;
    height: 80px;
    float: left;
    text-align: left;
    padding-top: 100px;
    font-size: medium;

}
.mail{
    background-color: #313A5D;
    width: 100%;
    height: 80px;
    float: left;
    text-align: left;
    font-size: medium;
}
.phone-number{
    background-color: #313A5D;
    float: left;
    width: 100%;
    height: 80px;
    text-align: left;
    font-size: medium;
    
}
.address{
    background-color: #313A5D;
    float: left;
    width: 100%;
    height: 80px;
    font-size: medium;
    text-align: left;
    
}
.icons{
    background-image: linear-gradient(to bottom, #EAEDF9, #313A5D );
    width: 100%;
    height: 80px;
    float: left;
    color: black;
    text-align: center;
    font-size: large;
    padding: 20px;
}
a{
    text-align: center;
}
/*End of footer*/

/* Start of my About page*/
header h1 div img{
    width: 100%;
    height: 900px;
    padding-top: 56px;
    position: relative;
    top: -50;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    

}
.about-writting{
    width: 50%;
    height: 600px;
    float: left;
    background-image: linear-gradient(to bottom, #EAEDF9, #313A5D );
    padding-left: 5px;
}
.about-author{
    width: 49%;
    height: 600px;
    background-image: linear-gradient(to bottom, #EAEDF9, #313A5D );
    float: left;
    font-family: 'Koulen', cursive;
}
h3{
    text-align: center;
}
footer div i{
    color: #313A5D;
}
/*End of my about page*/


/*Start of my contact page*/
.contact-a{
    background-color: #565E7C;
    width: 700px;
    height: 500px;
    font-size: 150%;
    padding-left: 10%;
    padding-bottom: 20%;
    float: left;
    font-family: 'Lobster', cursive;
}
header div img{
    background-color: #00242C;
    position: top;
}
.contact-info{
    background-color: #E9ECF8;
    height: 500px;
    width: 700px;
    float: left;
    text-align: left;
    margin: 50px;
    font-family: 'Koulen', cursive;
}
input, select, textarea{
    width: 300px;
    height: 50px;
}
.map{
    padding-top: 55px;
    position: relative;
    top: -50;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    font-family: 'Water Brush', cursive;
}


/*End of my contact page*/